<ion-header>
  <ion-navbar primary>
    <button menuToggle="left">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      View Agreement
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="has-header">
    <!--main container-->
    <section *ngIf="agreementData">
        <h2>{{agreementData.agreementName}}</h2>
        <section class="col s12 pt-detail bt-shadow">
            <h2 class="pateint-name capitalize"><a >{{agreementData.agreementTitle}}</a></h2>
            <address [innerHTML]="parseUserData(agreementData.agreementBody)">
            </address>
        </section>
    </section>
</ion-content>